---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedTips from '../components/FeaturedTips.astro';
import Categories from '../components/Categories.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<FeaturedTips />
		<Categories />
	</main>
	<Footer />
</Layout>